/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

main {
  display: flex;
  justify-content: center;
}

.main-reader {
  width: 80ch;
  max-width: 100%;
}

.settings-fab {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: .5rem;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}