/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

main {
  display: flex;
  justify-content: center;
}

.main-reader {
  width: 80ch;
  max-width: 100%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  max-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.settings-fab {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: .5rem;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  border-radius: 50px;
  --bs-bg-opacity: .2;
  color: var(--bs-secondary);
  padding: .0em .5em;
  margin-inline: .25em;
}

.bookmark-indicator {
  left: -3ch;
  position: relative;
  margin-right: -3.2ch;
}

.offcanvas {
  width: 100dvw !important;
}

@media (min-width:768px) {
  .offcanvas {
    width: var(--bs-offcanvas-width) !important;
  }
}